.alive
    background-color: black
    
.dead
    background-color: white
    
.cell
    width: 20px
    height: 20px
    margin: 2px
    border-radius: 2px
    border: 1px solid black
    display: inline-block
    transition: background-color 0.1s
    
.cellRow
    line-height: 0
    min-width: 100%
    display: flex
    
.board
    display: inline-block
    
#boardContainer
    overflow: scroll
    width: 100%
    height: calc(100vh - 70px)
    
.mainTitle, .littleTitle, .ticksDisplay
    display: inline-block
    
.controlBar
    height: 70px

.littleTitle
    margin-left: 10px
    margin-right: 20%
    
.controlButton
    float: right
    font-size: 50px
    margin: 10px